@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h1>My Set Lists</h1>
    <p class="lead">An easy to use set list creator.</p>
</div>

<h2>
    Add songs and create new set lists from these songs - all right here! 
</h2>