<div class="jumbotron">
    <div class="justify-content-center">
        <h2 class="text-center">Top Notch Auto Insurance</h2>
        <h5 class="text-center">
            Looking for a great rate for auto insurance? Look no furthur! We provide some of the best coverage in the area at a low cost to you and your family.
            Get your free quote here today.
        </h5>
        <h4 class="text-center">@Html.ActionLink("QUOTE", "Quote", "Home")</h4>
    </div>   
</div>
<div>
    <img src="~/Images/cars.jpg" class="img-fluid" alt="Responsive image"/>
</div>


